.postBanner {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  margin-bottom: 80px;
}

.postContent {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;

  h1 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.8;
    margin: 1.8rem 0;
  }

  .postContentInfo {
    display: flex;
    margin-bottom: 1rem;
    padding: 0.5rem 0;

    div {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;

      svg {
        margin-right: 0.3rem;
      }
    }
  }

  .postUpdate {
    margin-bottom: 3rem;

    time {
      opacity: 0.8;
      color: var(--gray-10);
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--gray-100);

  div {
    padding: 3rem 0;
  }

  div + div {
    text-align: right;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 0.5rem;
  }

  a {
    color: var(--pink);
    font-weight: 600;
  }
}
